// basic settings
body{
  background-color: $dark-black!important;
}

ul{
  list-style: none;
  padding: 0!important;
}

.small-text{
  text-align: center;
  color: $dark-gray;
}

.badge{
  display: inline-block;
  margin: auto;
  padding: 3px 10px;
  border-radius: 5px;
}

.badge-flip{
  background-color: $flip;
}

.badge-mirror{
  background-color: $mirror;
}

.badge-ran{
  background-color: $ran;
}

.badge-sran{
  background-color: $sran;
}

.badge-rran{
  background-color: $rran;
}

// wrapper settings
.wrapper{
  background-color: $dark-black;
  color: $light-gray;
}

// header settings 
header{
  nav{
    margin-bottom: 10px;
    padding: 10px;
    background-color: $deep-black;
    
    text-align: center;

    a.n-brand{
      font-family: 'Muli', sans-serif;
      font-size: 1.5em;
      font-weight: 700;
      color: $tokiwa;
      text-decoration: none;
    }

    span.tokiwa-version{
      position: absolute;
      top: 15px;
      right: 60px;
      color: $dark-gray;
    }
  }
}


// container settings
.container{
  width: 95%;
  margin: 10px auto;

  font-family: 'Muli', 'M PLUS 1p', sans-serif;

  @include bp(lg){
    width: 55%;
  }
}

.player-info{
  margin: 20px 0;
  padding: 10px;
  border: solid 1px $tokiwa;
  border-radius: 10px;
  text-align: center;

  .player-name{
    font-size: 1.3em;
    font-weight: 700;
  }
}

.search-tool{
  select{
    width: 100%;
    margin: 10px 0;
    outline: none;
    border: solid 2px $tokiwa;
    border-radius: 5px;
    background: $deeper-black;
    color: $tokiwa;
  }
}

// components settings
li.music-list-item{
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: $deeper-black;

  .item-info{
    position: relative;

    .item-version{
      display: inline-block;
      width: 20px;
    }

    .item-name{
      display: inline-block;
      font-size: 1.1em;
    }

    .item-diff{
      display: inline-block;
      margin: 0 8px;
      font-weight: 700;
    }

    .label-hyper{
      color: $hyper;
    }

    .label-another{
      color: $another;
    }

    .label-leggendaria{
      color: $leggendaria;
    }
  }

  .item-use-option{
    margin: 5px 0;
    background-color: $dark-blue;
    border-radius: 10px;
    
    table{
      width: 100%;
      border-collapse: collapse;

      tr{
        height: 50px;
        border-top: solid 2px $deeper-black;

        th{
          width: 10%;
          padding: 10px;
          color: $dark-gray;
        }
  
        td{
          width: 40%;
          text-align: center;
        }
      }
    }

    .option-flip{
      width: 92%;
      margin: 0 2%;
      padding: 10px;
      border-radius: 10px;
      background-color: $dark-blue;
    }

    .option-disp-box{
      display: inline-block;
      vertical-align: top;
      width: 46%;
      height: 50px;
      margin: 0 2%;
      padding: 10px;
      border-radius: 10px;
      background-color: $dark-blue;

      .option-disp-side{
        display: inline-block;
        width: 50px;
        text-align: left;
        color: $dark-gray;
      }
    }
  }
}

footer{
  font-family: 'Muli', sans-serif;
  text-align: center;

  .copyright{
    padding: 20px;
    color: $tokiwa;
  }
}