/*
* site theme color
*/
$darker-gray: #555;
$dark-gray: #aaa;
$light-gray: #eee;

$light-black: #444;

$deep-black: #1d1d1d;
$deeper-black: #161616;
$dark-black: #0f0f0f;

$tokiwa: #007B43;

$hyper: #eec718;
$another: #ee1846;
$leggendaria: #ff00c8;

$dark-blue: #242424;

/*
* font
*/
$weight-bold: 700;
$weight-reg: 500;
$weight-light: 300;